<a href="https://colab.research.google.com/github/vannessa01/Python_Introduction/blob/main/Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Jupyter Lab & Python Basic

### 1. Onboard Pengenalan Jupyter Lab

1. Membuat File notebook
2. Memberi nama File notebook
3. Mengetahui pengaturan File 
    - Membuka file csv pada Jupyter Lab
    - Mangamenet Directory
4. Mengetahui beberapa navigasi pada Jupyter notebook
    - Pada bagian header (File, Edit, View, Run, dst)
    - Pada bagian left side (File Browser, Running Terminal and Kernel, Commands dll)
    - Pada bagian run kernel (Save, Insert Cell, Copy) 
5. Memunculkan baris kode pada cell
6. Membuat baris kode pertama (urutan baris kode itu penting dan case senstif) 
7. Mengenal Markdown. [Refrensi](https://www.example.com)

In [1]:
nama = 'Adam'
umur = 24

In [2]:
print(nama)

Adam

# judul 1

Halo semua, ini adalah keterangan

### 2. Variabel dan Tipe Data

#### Variabel
suatu entitas nama yang memiliki nilai dan nilai nya dapat diubah

In [3]:
tinggi_badan = 173

<span style="color:blue">tinggi_badan</span> dalam konteks ini adalah variabel dan 173 adalah nilai yang diberikan pada variabel tinggi badan. nilai 173 dapat diubah.
<br><span style='font-weight: bold'>Beberapa catatan pada variabel:</span>
<br>1. Variabel akan error jika menggunakan spasi (contoh: tinggi badan = 168)
<br>2. nama variable case sensitif (nama != Nama)
<br>3. Jangan awali nama variabel dengan angka (1nama = 'Adam')
<br>4. Nama variabel tidak mengandung special karakter (nama! = 'Adam')

#### Tipe Data

| Kategori | Tipe | Keterangan | Contoh Kode Python |
| ----------- | ----------- | ----------- | ----------- |
| Text | str | Menyatakan karakter/kalimat bisa berupa huruf angka, dll (diapit dengan " atau ') | "Bahasa Python" |
| Numeric | int | Menyatakan bilangan bulat | 45 atau 2000 |
| Numeric | float | Menyatakan bilangan yang mempunyai koma | 3.14 atau 0.5 |
| Boolean | bool | Menyatakan benar True atau salah False | True atau False |
| Sequence | list | Menyatakan beberapa untaian data dalam berbagai tipe data dan isinya bisa diubah-ubah (mutable) | ["Bakso", 21, True] |
| Sequence | tuple | Menyatakan beberapa untaian data dalam berbagai tipe data namun isinya tidak bisa diubah-ubah (immutable) | ("Bakso", 21, True) |
| Mapping | dict | Menyatakan beberapa untaian data dalam berbagai tipe data dan memiliki key/petujuntuk dalam menyimpan setiap nilai nya | {"nama":"Adam", "umur":24} |
| Set | set | Menyatakan beberapa untaian data dalam berbagai tipe data, setiap nilainya bernilai unik, dan tidak berurutan | {"sate", "bakso", "mie ayam"} |

[referensi](https://www.w3schools.com/python/python_datatypes.asp)

#### Mari kita coba (Practice Makes Perfect)

##### String

In [4]:
nama = 'Ammar'
type(nama)

str

##### Int

In [5]:
luast_persegi = 150 
type(luast_persegi)

int

##### Float

In [6]:
index_prestasi = 3.7
type(index_prestasi)

float

##### Boolean

In [7]:
pelanggan_baru = True 
type(pelanggan_baru)

bool

##### list

In [8]:
peserta_terbaik = ['Ammar', 'Adam', 'Putri']
type(peserta_terbaik)

list

In [9]:
negarasaya = "indonesia"
negarasayA = "indonesia2"

In [10]:
print(negarasaya, negarasayA)

indonesia indonesia2

Penggunaan print dengan variable

In [11]:
aku = "fikri"
print("Nama saya adalah", aku)
print("Nama saya adalah aku", aku, "abc")

Nama saya adalah fikri
Nama saya adalah aku fikri abc

In [12]:
# Penggunaan print dengan variable dengan fungsi print(f"")
print(f"Nama saya adalah {aku} umur saya adalah {umur}, tinggi badan {tinggi_badan}")
print("Nama saya adalah",aku,"umur saya adalah",umur, ", tinggi badan", tinggi_badan)

Nama saya adalah fikri umur saya adalah 24, tinggi badan 173
Nama saya adalah fikri umur saya adalah 24 , tinggi badan 173

In [13]:
aku_ganteng = ["aku aku", 154545, True, [1,2,3,4]]
aku_ganteng

['aku aku', 154545, True, [1, 2, 3, 4]]

Lakukan untuk tipe data lainnya dengan mandiri ya . . .

In [14]:
print(type('Adam'))
print(type(24))
print(type(11.3))
print(type(True))
print(type(['Jawa','Sumatra']))
print(type(('Sate','Bakso')))
print(type({'name':'Adam','age':24}))
print(type({'Adam','hasan'}))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

#### Dasar Operasi Tipe Data

In [15]:
tinggi_badan = 173

#### Numeric

In [16]:
a = 2
b = 3
#dilakukan operasi a dijumlahkan dengan b
penjumlahan = a+b
penjumlahan

5

In [17]:
a = 2
b = 3
#dilakukan operasi a dikalikan b
perkalian = a*b
perkalian

6

In [18]:
a = 100
b = 2
#dilakukan operasi a pangkat b
pangkat = a**b
pangkat

10000

In [19]:
a = 100
b = 2
#dilakukan pengecekan apakah a sama dengan b (symbol = 2kali) jika satu kali artinya pemberian nilai pada variabel
a == b

False

In [20]:
a = 100
b = 2
#dilakukan pengecekan apakah a lebih besar dari b
a > b

True

In [21]:
a = 100
b = 120
#dilakukan pengecekan apakah a lebih kecil sama dengan dari b
a <= b

True

In [23]:
a = 100
b = 120
c = 80
(a+b)-c

140

#### Challenge 1

In [24]:
# total_revenue

price = 10000
quantity = 350
total_revenue = price * quantity 
avg_revenue = total_revenue / quantity
avg_revenue = (price * quantity ) / quantity
avg_revenue = price

print(total_revenue)
print(avg_revenue)

3500000
10000

#### Challenge 2

### Rumus pythagoras

[Pythagoras Formula](http://www.ncsm.city.nagoya.jp/exhibit_files/output/S424-pic1-en.jpg)

In [26]:
import math
# Tuliskan rumus pythagoras dalam python
a = 3
b = 4

c1 = (a**2 + b**2)**(1/2)
c2 = (a**2+b**2)**(1/2)
c3 = math.sqrt(a**2 + b**2)
c4 = math.sqrt(pow(a,2) + pow(b,2))
c5 = pow(pow(a,2) + pow(b,2),1/2)
print(c1,c2,c3,c4,c5)

5.0 5.0 5.0 5.0 5.0

#### String

In [27]:
nama_depan = 'Adam'
nama_belakang = 'Ardiansyah'
spasi = ' '

nama_panjang = nama_depan + spasi + nama_belakang

In [28]:
print(nama_panjang)

Adam Ardiansyah

In [29]:
# .replace(<before> , <after>)

phone_number = '0812-2223-4445'
clean_phone_number = phone_number.replace('-','')

In [30]:
print(phone_number)
print(clean_phone_number)

0812-2223-4445
081222234445

In [31]:
#djsfifjidsfjdsifjdsf
print("="*100)
#fsdjfdsjfdisf

====================================================================================================

In [32]:
namaku = "Adam Ardiansyah"
print(namaku.lower())
print(namaku)

adam ardiansyah
Adam Ardiansyah

In [33]:
namaku = "Adam Ardiansyah"
namaku2 = namaku.lower()
print(namaku,"|",namaku2)

Adam Ardiansyah | adam ardiansyah

## Perbedaan string dengan '', "", dan  """ """

In [ ]:
nama = 'aha'
print('I'd like to eat pizza')
# Ini error

In [35]:
# Gunakan "" jika string mengandung '
"I'd like to eat pizza"

"I'd like to eat pizza"

In [36]:
# Gunakan '' jika string mengandung "
nama = "aha"
'panggil saja dia "mawar"'

'panggil saja dia "mawar"'

In [37]:
# Gunakan """ """ jika string mengandung " dan atau '
nama = """panggil saja dia "mawar", dia itu i'd like 
dsfdsf
dsfsd"""
nama

'panggil saja dia "mawar", dia itu i\'d like \ndsfdsf\ndsfsd'

In [38]:
huruf_besar = 'JAKARTA'
huruf_besar.lower()

'jakarta'

In [39]:
huruf_kecil = 'jakarta'
huruf_kecil.upper()

'JAKARTA'

In [40]:
kalimat = 'Ibu dan ayah pergi ke pasar'
kalimat.replace('dan', 'bersama') #merubah kata dan menjadi bersama

'Ibu bersama ayah pergi ke pasar'

In [41]:
kategori = 'Bakso' #membuat variabel kategori dengan value Bakso
kategori == 'Bakso' #apakah kategori bervalue Bakso

True

In [42]:
'bakso' == "bakso"

True

In [43]:
'bakso' == 'Bakso' #Berbeda karena B nya yang satu besar yang satu kecil

False

#### Boolean

Operasi
1. and atau & 
2. or atau |
3. not

In [44]:
mei = 10000
juni = 12000

mei < juni #apakah bulan mei lebih kecil dari juni

True

In [45]:
nama1 = 'Ammar'
nama1 == 'Hasan' #apakah value nama1 sama dengan Hasan?

False

In [ ]:
a = 5
b = 10
a < b
# 5 < 10

True

In [ ]:
not (a < b) # harusnya true, tapi dinegasikan jadi False

False

In [ ]:
not (a > b) # harusnya false, tapi dinegasikan jadi True

True

In [ ]:
c = a < b # True
d = a > b # False

c and d

False

In [ ]:
True and False

False

In [ ]:
a = 6
b = 7
c = 1

(a < b) and (a < c) #True and False maka False
# 6 < 7  and  6 < 1
# True        False

False

In [ ]:
(a < b) or (a < c) #True or False

True

In [ ]:
kategori = 'Makanan'
jumlah_order = 67
jumlah_visit = 102

(not (kategori == 'Sepeda')) and (jumlah_visit >= 100) and (jumlah_order >= 67)

#### Perubahan Tipe Data

In [ ]:
a = 1 #int
a = str(a) #dirubah menjadi string

b = '087852279437' #string
b = int(b) #dirubah menjadi int

c = 123.011 #float
c = int(c) #dirubah menjadi int

print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'int'>
<class 'int'>

In [ ]:
'2' * 5

'22222'

In [ ]:
nama = 'Adam'
usia = 23

nama + usia

Agar tidak terjadi <span style="color:red">error</span> maka kita perlu merubah tipe data usia menjadi string

In [ ]:
nama = 'Adam'
usia = 23

nama + str(usia)

'Adam23'

#### Mengatur jumlah angka di belakang Koma

In [ ]:
#123/7
22/7

3.142857142857143

In [ ]:
a = 16.571428571428573
round(a, 2) #bulatkan variabel a 2 angka di belakang koma

16.57

In [ ]:
round(22/7,100)

3.142857142857143

#### Challenge 3

Misalkan a = 12, b = 20, c = 16.
Buatlah bentuk kondisional untuk mengecek:

In [ ]:
a = 12
b = 20
c = 16

logic_1 = (a**2 + b**2 == c**2)
logic_2 = (b**2 + c**2 == a**2)
logic_3 = (a**2 + c**2 == b**2)

print(logic_1 or logic_2 or logic_3)

True

Misalkan 3 variabel data penjualan di bawah ini masih belum dibersihkan.

1. penjualan_1 = ‘2,000’
2. penjualan_2 = ‘1,200’
3. penjualan_3 = ‘3,200’

Buatlah kode python untuk membersihkan dan menjumlahkan total penjualan dari hari ke-1,2, dan 3.

In [ ]:
#penjualan_1 = ‘2,000’
#penjualan_2 = ‘1,200’
#penjualan_3 = ‘3,200’

penjualan_1 = '2000'
penjualan_2 = '1200'
penjualan_3 = '3200'

print(int(penjualan_1) + int(penjualan_2) + int(penjualan_3))

6400

### 3. Package

In [ ]:
import pandas as pd
import numpy as np